<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Create Event</title>
</head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<form method="post">

    <th:block th:each="event : ${events}">
        <div>
            <label>
                <span th:text="${event.name}">Name</span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-check-input"/>
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger" />
</form>

</body>
</html>